.auth-canvas {
    width: 50%;
    .auth-canvas-img {
        height:  100vh;
        width: 100%;
    }
    
    .auth-screen-logo {
        position: fixed;
        top: 5vh;
        left: 5vh;
    }
}
