.login-container {
    padding: 30px;
    position: absolute;
    left: 800px;
    top: -140px;
    width: 470px;
    background: #FCFCFC;
    box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    border-radius: 9px;
}

.login-button-width{
    width: 92%;
}