.header{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    z-index: 100;
}
.logo-container{
    position: absolute;
    left: 3.06%;
    right: 88.4%;
    top: 17.5%;
    bottom: 28.08%;
}


