.search-bg{
    background-image: url("../../assets/images/customer-service.png");
    background-repeat: no-repeat;
    background-position: 90% center;
}

.contactus-bg{
    background-image: url("../../assets/images/contactus-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% center;
}