.topbar{
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #D6DDE0;
    box-sizing: border-box;
    height: 80px;
}

.main-content{
    margin-top: 65px;
}

.quick-search{
    padding: 12px 16px;
    background: #D7DCE0;
    border-radius: 8px;
}

.wallet-balance-modal{
    padding: 34px;
    position: fixed;
    right: 50px;
    bottom: -10px;
    width: 400px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 1100;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.wallet-balance-card{
    padding: 12px 12px 12px 26px;
    width: 100%;
    height: 126px;
    background: #21202E;border: 2px solid #144A22;
    box-sizing: border-box;
    border-radius: 8px;
}

.top-gainers-modal{
    padding: 30px;
    width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.top-losers-modal{
    padding: 30px;
    width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.newsImg{
    width: 95px;
    height: 145px;
}

.news-section:first-child{
    margin-left: 0 !important;
}

.updatekyc-bg{
    background-image: url("../../assets/images/updatekyc-bg.jpg");
    background-repeat: no-repeat;
    //background-position: right 0%;
}

@media(max-width:768px){
    .updatekyc-bg{
        background-position: left 270%;
    }

    .news-width{
        width: 50%;
    }
}