
.signup-container {
  padding: 30px;
  left: 800px;
  top: -140px;
  background: #FCFCFC;
  box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.selfie-container {
  padding: 30px;
  left: 800px;
  top: -140px;
  background: #FCFCFC;
  box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.confirm-bvn-container {
  padding: 30px;
  left: 800px;
  top: -140px;
  background: #FCFCFC;
  box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.confirm-otp-container {
  padding: 30px;
  left: 800px;
  top: -140px;
  background: #FCFCFC;
  box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.create-user-container {
  padding: 30px;
  left: 800px;
  top: -140px;
  background: #FCFCFC;
  box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.create-pin-container {
  padding: 30px;
  left: 800px;
  top: -140px;
  background: #FCFCFC;
  box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.success-container {
  padding: 30px;
  left: 800px;
  top: -140px;
  background: #FCFCFC;
  box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.tips-border{
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 6px;
}
.selfie-placeholder{
  background: rgba(248, 248, 248, 0.92);
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 6px;
}
.picture-icon{
  margin: 22px 0px;
}

.short-input{
  padding: 12px 16px;
  // width: 59px;
  height: 48px;
  background: #FFFFFF;
  border: 3px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 8px;
}
.otp-alert{
  position: relative;
  padding: .3rem .3rem .3rem 1rem;
  // top: -30px;
  // left: -30px;
  //width: 108.6%;
  background: #FFFFFF;
  //box-shadow: 0px 32px 32px -8px rgba(0, 0, 0, 0.08), 0px 0px 32px -8px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid #2AD062
}

.error-alert{
  position: relative;
  padding: .3rem .3rem .3rem 1rem;
  // top: -30px;
  // left: -30px;
  //width: 108.6%;
  background: #FFFFFF;
  //box-shadow: 0px 32px 32px -8px rgba(0, 0, 0, 0.08), 0px 0px 32px -8px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid #FF0949;
  color: #FF0949
}
.top-55{
  top: 55%
}
.signup-h{
  height: 55rem;
}

.bvninfo-modal{
  padding: 30px;
  position: fixed;
  width: 400px;
  bottom: 0;
  right: 5%;
  background: #FFFFFF;
  box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  z-index: 1100;
  margin: 1.75rem auto;
}

.resend-otp:hover{
 text-decoration: underline;
}
