.account-balance-modal{
    padding: 34px;
    position: fixed;
    left: 35%;
    top: 10%;
    width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    z-index: 1100;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}
.wallet-id-card {
    padding: 12px 12px 12px 26px;
    width: 100%;
    background: #21202E;
    border: 2px solid #144A22;
    box-sizing: border-box;
    border-radius: 8px;
}