.reset-container{
    position: relative;
    padding: 40px 40px;
    width: 570px;
    background: #FCFCFC;
    box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    border-radius: 9px;
}

.reset-success-container{
    position: relative;
    padding: 40px 40px;
    width: 540px;
    background: #FCFCFC;
    box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
    border-radius: 9px;
}